<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
</head>
<body>

<h1>Lista de Pacientes</h1>

<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paciente : ${pacientes}">
        <td th:text="${paciente.nombre}"></td>
        <td th:text="${paciente.apellidoP}"></td>
        <td th:text="${paciente.apellidoM}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
